{% extends "bootstrap/base.html" %}

{% block title %} Orçamento ao Público {% endblock %}

{% block content %}



    <div class="container">
        <div class="row">
            <div class="col-md-12" align="center">
                <image  src="/static/images/inovapps.png"></image>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12" align="center" >
                <br/>
                <br/>
                <h1>Orçamento ao Público</h1>
                <h3>Upload de Arquivo de Dados</h3>
                <br/>
                <br/>
                </div>
            </div>

        </div>

        <div class="col-md-4 col-md-offset-4" align="center">
            <form class="form-horizontal" action="" method=post enctype=multipart/form-data>
                <div class="form-group">
                    <label>Base de dados do Orçamento - Arquivo .sql </label>
                    <input class="filestyle" data-input="false" data-placeholder="Adicionar arquivo" type="file" name="data-file">
                </div>
                <input class="btn btn-primary btn-lg btn-block" type=submit value=Enviar>
            </form>
            <ul class="flashes list-unstyled">
                {% with messages = get_flashed_messages(category_filter=["success"]) %}
                    {% if messages %}
                    {% for message in messages %}
                        <li class="label label-success">{{ message }}</li>
                    {% endfor %}

                    {% endif %}
                {% endwith %}

                {% with errors = get_flashed_messages(category_filter=["error"]) %}
                    {% if errors %}

                    {% for error in errors %}
                        <li class="label label-danger">{{ error }}</li>
                    {% endfor %}
                    {% endif %}
                {% endwith %}
            </ul>
        </div>

        <footer class="navbar-default navbar-fixed-bottom">
            <div class="container-fluid" align="center">
                <img src="/static/images/inovapps-foot.png"/>
            </div>
        </footer>
    </div>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-filestyle/1.2.1/bootstrap-filestyle.min.js"> </script>
{% endblock %}